# Hotel Review Classification

### Team 1: Renetta Nelson, Jacqueline Urenda

### June 26, 2023

## Importing Libraries

In [245]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests
import csv
import time
import random
from collections import OrderedDict
import string
import re


from random import randint
from time import sleep

## Retrieving Data from Website

In [246]:


hotel_page1 = ("https://www.tripadvisor.in/Hotels-g60750-San_Diego_California-Hotels.html")
hotel_page2 = ("https://www.tripadvisor.in/Hotels-g60750-oa30-San_Diego_California-Hotels.html")
hotel_page3 = ("https://www.tripadvisor.in/Hotels-g60750-oa60-San_Diego_California-Hotels.html")
hotel_page4 = ("https://www.tripadvisor.in/Hotels-g60750-oa90-San_Diego_California-Hotels.html")
hotel_page5 = ("https://www.tripadvisor.in/Hotels-g60750-oa120-San_Diego_California-Hotels.html")
hotel_page6 = ("https://www.tripadvisor.in/Hotels-g60750-oa150-San_Diego_California-Hotels.html")
hotel_page7 = ("https://www.tripadvisor.in/Hotels-g60750-oa180-San_Diego_California-Hotels.html")
hotel_page8 = ("https://www.tripadvisor.in/Hotels-g60750-oa210-San_Diego_California-Hotels.html")
hotel_page9 = ("https://www.tripadvisor.in/Hotels-g60750-oa240-San_Diego_California-Hotels.html")
hotel_page10 = ("https://www.tripadvisor.in/Hotels-g60750-oa270-San_Diego_California-Hotels.html")

user_agent = ( {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) \ AppleWebKit/537.36 (KHTML, like Gecko) \ Chrome/90.0.4430.212 Safari/537.36',
                'Accept-Language': 'en-US, en'})


hp1= requests.get(hotel_page1, headers = user_agent)
hp2= requests.get(hotel_page2, headers = user_agent)
hp3= requests.get(hotel_page3, headers = user_agent)
hp4= requests.get(hotel_page4, headers = user_agent)
hp5= requests.get(hotel_page5, headers = user_agent)
hp6= requests.get(hotel_page6, headers = user_agent)
hp7= requests.get(hotel_page7, headers = user_agent)
hp8= requests.get(hotel_page8, headers = user_agent)
hp9= requests.get(hotel_page9, headers = user_agent)
hp10= requests.get(hotel_page10, headers = user_agent)

## Extracting the Data

In [247]:
def extract(h_page, hotel_names, hotel_ratings, hotel_reviews, hotel_prices):

    h_content = BeautifulSoup(h_page.content, 'html.parser')

    for hotel_name in h_content.find_all('div', {'class': 'listing_title'}):
        hotel_names.append(hotel_name.text.strip())


    for hotel_rating in h_content.find_all('a', {'class': 'ui_bubble_rating'}):
        hotel_ratings.append(hotel_rating['alt'])

    for hotel_review in h_content.find_all('a', {'class': 'review_count'}):
        hotel_reviews.append(hotel_review.text.strip())

    for hotel_price in h_content.find_all('span', {'class': 'fwoto'}):
        print("In pricing")
        hotel_prices.append(hotel_price.span.text.replace('â‚¹','').strip())
    

    return hotel_names, hotel_ratings, hotel_reviews, hotel_prices


def extract_test(hotel_names, hotel_ratings, hotel_reviews, hotel_prices):
    print("Lengths of Dataset Columns")
    print("Hotel Names: ", len(hotel_names))
    print("Hotel Ratings: ", len(hotel_ratings))
    print("Hotel Reviews: ", len(hotel_reviews))
    print("Hotel Prices: ", len(hotel_prices))

In [248]:

hotel_names = []
hotel_ratings = []
hotel_reviews = []
hotel_prices = []


hotel_names, hotel_ratings, hotel_reviews, hotel_prices = extract(hp1, hotel_names, hotel_ratings, hotel_reviews, hotel_prices)
#hotel_names, hotel_ratings, hotel_reviews, hotel_prices = extract(hp2, hotel_names, hotel_ratings, hotel_reviews, hotel_prices)
#hotel_names, hotel_ratings, hotel_reviews, hotel_prices = extract(hp3, hotel_names, hotel_ratings, hotel_reviews, hotel_prices)
#hotel_names, hotel_ratings, hotel_reviews, hotel_prices = extract(hp4, hotel_names, hotel_ratings, hotel_reviews, hotel_prices)
#hotel_names, hotel_ratings, hotel_reviews, hotel_prices = extract(hp5, hotel_names, hotel_ratings, hotel_reviews, hotel_prices)
#hotel_names, hotel_ratings, hotel_reviews, hotel_prices = extract(hp6, hotel_names, hotel_ratings, hotel_reviews, hotel_prices)
#hotel_names, hotel_ratings, hotel_reviews, hotel_prices = extract(hp7, hotel_names, hotel_ratings, hotel_reviews, hotel_prices)
#hotel_names, hotel_ratings, hotel_reviews, hotel_prices = extract(hp8, hotel_names, hotel_ratings, hotel_reviews, hotel_prices)
#hotel_names, hotel_ratings, hotel_reviews, hotel_prices = extract(hp9, hotel_names, hotel_ratings, hotel_reviews, hotel_prices)
#hotel_names, hotel_ratings, hotel_reviews, hotel_prices = extract(hp10, hotel_names, hotel_ratings, hotel_reviews, hotel_prices)


#extract_test(hotel_names, hotel_ratings, hotel_reviews, hotel_prices)

In [249]:
extract_test(hotel_names, hotel_ratings, hotel_reviews, hotel_prices)

Lengths of Dataset Columns
Hotel Names:  60
Hotel Ratings:  30
Hotel Reviews:  30
Hotel Prices:  0

## Data Preparation

In [250]:
def processing(hotel_names, hotel_ratings, hotel_reviews):
    hotel_names2 = []
    hotel_names3 = []
    hotel_names4 = []
    hotel_reviews2 = []
    hotel_ratings2 = []
    name_index = []
    num = 0

    # removing duplicates of hotel names
    n = 0
    for i in hotel_names:
        if n % 2 == 0:
            n = n + 1
            hotel_names2.append(i)
        else:
            n = n + 1
            continue 

 

    # remove "Sponsored" hotels

    for i in hotel_names2:
        #print(i)
        x = i.split(" ")
        if x[0] == "Sponsored":
            name_index.append(num)
            num = num + 1
            continue
        else:
            hotel_names3.append(" ".join(x))
            num = num + 1



    # removing numbers from hotel names

    for i in hotel_names3:
        x = i.split(" ")
        del x[0]
        hotel_names4.append(" ".join(x))



    # Removing word "reviews" from column values and converting to numerical 

    for i in hotel_reviews:
        x = i.split(" ")
        for y in x:
            c = re.sub(r'[^\w\s]', '', y)
            if c.isdigit():
                hotel_reviews2.append(c)
            else:
                continue

    hotel_reviews2 = [eval(i) for i in hotel_reviews2]


    # Removing Sponsored hotel reviews

    last = len(hotel_reviews2)-1
    print("name_index: ", name_index)
    print("last: ", last)
    for x in name_index:
        if x == last:
            print("last x: ",x)
            del hotel_reviews2[-1]
        else:
            print(x)
            #print("indx of x:", hotel_reviews.index(x))
            print("x: ", hotel_reviews2[x])
            del hotel_reviews2[x]


    # Removing Sponsored hotel ratings

   
    for x in name_index:
        if x == last:
            del hotel_ratings[-1]
        else:
            del hotel_ratings[x]
        
    # Only taking rating and converting into numerical 

    for i in hotel_ratings:
        x = i.split(" ")
        hotel_ratings2.append(x[0])

    hotel_ratings2 = [eval(i) for i in hotel_ratings2]


    return hotel_names4, hotel_ratings2, hotel_reviews2, name_index



def processing_test(hotel_names3, hotel_ratings2, hotel_reviews2):
    print("Lengths of Dataset Columns")
    print("Hotel Names: ", len(hotel_names3))
    print("Hotel Ratings: ", len(hotel_ratings2))
    print("Hotel Reviews: ", len(hotel_reviews2))

In [251]:

hotel_names4, hotel_ratings2, hotel_reviews2, name_index = processing(hotel_names, hotel_ratings, hotel_reviews)

name_index:  []
last:  29

In [252]:
processing_test(hotel_names4, hotel_ratings2, hotel_reviews2)

Lengths of Dataset Columns
Hotel Names:  30
Hotel Ratings:  30
Hotel Reviews:  30

## Loading Data

In [253]:

hotels_dict = {}

# Load data into dictionary

hotels_dict = {'names':hotel_names4, 'num_reviews':hotel_reviews2, 'ratings':hotel_ratings2}   #, 'costs':hotel_prices[:37]}


hotels_df = pd.DataFrame.from_dict(hotels_dict)
hotels_df.head(10)

                                             names  num_reviews  ratings
0                               Bahia Resort Hotel         6357      4.5
1                 Manchester Grand Hyatt San Diego        12625      4.5
2  Embassy Suites by Hilton San Diego Bay Downtown         3433      4.5
3                     San Diego Mission Bay Resort         1354      4.0
4                   Catamaran Resort Hotel and Spa         6745      4.5
5                      San Diego Marriott La Jolla         1501      4.5
6                      Paradise Point Resort & Spa         3187      4.0
7    Best Western Plus Island Palms Hotel & Marina         4849      4.5
8                                     Old Town Inn         2412      4.5
9                             Urban Boutique Hotel         1333      4.5

## Extracting Hotel Reviews

In [254]:
def extract_review(url):
    
    hotel_rev = []

    review_page= (url)

    user_agent = ( {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) \ AppleWebKit/537.36 (KHTML, like Gecko) \ Chrome/90.0.4430.212 Safari/537.36',
                    'Accept-Language': 'en-US, en'})


    rp1= requests.get(review_page, headers = user_agent)

    h_content = BeautifulSoup(rp1.content, 'html.parser')

    for rp_1 in h_content.findAll('span', {'class':'QewHA H4 _a'}):
        hotel_rev.append(rp_1.span.text.strip())
    
    return hotel_rev

In [255]:

hotel_rev = BeautifulSoup(hp1.content, 'html.parser')

links = []

for review in hotel_rev.findAll('a',{'class': 'review_count'}):
    a = review['href']
    a = 'https://www.tripadvisor.in'+ a

    a= a[:(a.find('Reviews')+7)] + '-or{}' + a[(a.find('Reviews')+7):]
  
    links.append(a)
    #links

last = len(links)-1

# removing links to reviews for sponsored hotels

for x in name_index:
    if x == last:
        del links[-1]
    else:
        del links[x]

In [256]:
reviews = []

for link in links:
    reviews.append(extract_review(link))
    
#reviews

## Loading Reviews into Data Frame

In [257]:

hotels_df["reviews"] = reviews

hotels_df.head(10)

,names,num_reviews,ratings,reviews
0,Bahia Resort Hotel,6357,4.5,[Ryan checked us in today and I have to say he...
1,Manchester Grand Hyatt San Diego,12625,4.5,[I stayed here during Thanksgiving week. What ...
2,Embassy Suites by Hilton San Diego Bay Downtown,3433,4.5,"[The staff is super friendly and helpful, espe..."
3,San Diego Mission Bay Resort,1354,4.0,"[Family friendly resort, very close to Sea Wor..."
4,Catamaran Resort Hotel and Spa,6745,4.5,[My husband and I were looking forward to stay...
5,San Diego Marriott La Jolla,1501,4.5,[Thanks you Stephanie and Gerry for a wonderfu...
6,Paradise Point Resort & Spa,3187,4.0,[Excellent Service and friendly support in all...
7,Best Western Plus Island Palms Hotel & Marina,4849,4.5,[As always this is a great place to stay. Blue...
8,Old Town Inn,2412,4.5,[Booked this for our San Diego trip. The sink ...
9,Urban Boutique Hotel,1333,4.5,[I can't think of anything that wasn't exempla...